*{
    margin: 0;
}
a{
    text-decoration: none;
    color: #161616;
}
.header-banner{
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.banner-text{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
}
.text-large-banner{
    width: 531px;
    height: 240px;
    color: #ffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 30px;
    
}
.text-small-banner{
    width: 506px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-right: 20px;
}
.watch-btn{
    background: #DD0000;
    font-family: 'Poppins',sans-serif;
    color: #FFFFFF;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    border: none;
}
.banner-img{
    width: 550px;
    height: 580px;
    margin-left: 10px;
    margin-top: 32px;
}

/* banner-img and watch-btn trasition goes here */

.banner-img:hover{
    
    transform: scale(1.11);
    margin-bottom: 32px;
    transition: .3s ease-in-out;
}

.watch-btn:hover{
    background: #f7f5f5;
    color: #161616;
    transition: all .5s ease-in-out;
    cursor: pointer;
}


/* navgtion and grid section */
.nav-grid{
    width: 1321px;
    margin: 130px 25px 130px 25px;
    display: flex;
}

.navgation{
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.btn-dflt{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    width: 252px;
    height: 64px;
    margin:30px 30px 0 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: none;
}

.upcoming-match{
    background: #DD0000;
    color: #FFFFFF;
}

/* trnsistion effects on navigation */
.blog:hover,.group:hover{
    background: #DD0000;
    color: #FFFFFF;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}
.upcoming-match:hover{
    background: #ff0026;
    color: #161616;;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

}

/* match update card */

.match-update{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 20px;
}

.match-update-card{
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.versus{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px  20px 20px;
}
.vs{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.country{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.time{ 
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
    text-align: center;
}
/* footer section starts here */

.footer-setion{
    width: 100%;
    height: 444px;
    background: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goal,.follow{
    font-family: 'Poppins',sans-serif;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;

}
.border{
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}
.policy-section{
    width: 1000px;
    display: flex;
    justify-content:space-around;
    margin-bottom: 30px;
}
.contact,.terms,.privacy,.goal-app,.goal-live{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #B9B9B9;
 
}

.social-icon{
    width: 300px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.twitter{
    color:#00acee;
}

.fb{
    color:	#4267B2;
}
.insta{
    color:   #F56040
}

/* Tablet Style */
@media screen and (max-width: 834px){
    .container{
        width: 834px;
        overflow: hidden;
    }
    .header-banner{
        width: 734px;
        height: 398px;
    }
    .banner-text{
        width: 316px;
        height: 276px;
    }
    .text-large-banner{
        width: 289px;
        height: 150px;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .text-small-banner{
        width: 316px;
        height: 48px;
        font-size: 14px;
        line-height: 24px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    .watch-btn{
        width: 161px;
        height: 48px;
    }
    .banner-img{
        width: 323px;
        height: 340px;
    }
    .nav-grid{
        flex-direction: column;
        margin-top: 0;
        
    }
    .navgation{
        width: 734px;
        height: 124px;
        flex-direction: row;
        background: none;
    
    }
    .view-btn{
        display: flex;
        border: none;
        width: 131px;
        height: 47px;
        background: #DD0000;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 23%;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;

        margin-top: 30px;
       
    }
    .match-update{
        width: 734px;
        grid-template-columns: repeat(2, 1fr);
        overflow: hidden;
        height: 1150px;
    }
    .footer-setion{
        width: 834px;
        height: 345px;
        overflow: hidden;
    }
    .goal{
        width: 100px;
        height: 60px;
        font-weight: 600;
        font-size: 25px;
        line-height: 0;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .follow{
        width: 175px;
        line-height: 0;
        margin-bottom: 30px;
        font-size: 25px;
    }
    .border{
        width: 734px;
    }
    .policy-section{
        width: 600px;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: right;
    }
    .contact,.terms,.privacy,.goal-app,.goal-live{
        font-weight: 500;
        font-size: 16px;
        line-height: 50px;
    }
    .goal-live,.goal-app{
        margin-right: 5px;
        justify-self: center;
        margin-right: -230px;
    }
    .social-icon{
        margin-bottom: 15px;
    }
}

/* mobile */

@media screen and (max-width:375px){
    .container{
        width: 375px;
        overflow: hidden;
    }
    .header-banner{
        width: 334px;
        height: 472px;
        flex-direction: column;
    }
    .banner-img{
        width: 233px;
        height: 245px;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-left: 63px;
    }
    .banner-text{
        width: 258px;
        height: 178px;
        justify-content: center;
        align-items: center;
    }
    .text-large-banner{  
        width: 260px;
        height: 135px;
        font-size: 25px;
        line-height: 37px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    .text-small-banner{
        width: 258px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        align-items: center;
        justify-content: center;
    }
    .watch-btn{
        width: 161px;
        height: 40px;
    }
    
    .navgation{
        flex-direction: column;
        margin-bottom: 110px;
    }
    .match-update{
        grid-template-columns: repeat(1,1fr);
        height: auto;
    }
    .view-btn{
        display: none;
    }
    .footer-setion{
        width: 375px;
        height:500px;
        overflow: hidden;
    }
    .border{
        width: 335px;
    }

    .policy-section{
        display: contents;
    }
    .goal-live,.goal-app{
        margin-right: 0;
        margin-right: 0;
        margin-bottom: 5px;
    }
}